{{> layout/page_header }}
<body>
  {{#with navbar}}{{> layout/navbar }}{{/with}}
  <h1>Partial Index</h1>
  <ul>
    <li>
      <a href="/register">Register</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
    <li>
      <a href="/public">Public</a>
    </li>
    <li>
      <a href="/protected">Protected</a>
    </li>
  </ul>
</body>
{{> layout/page_footer }}