{{> base_head }}
<body>
  <h1>Partial Index</h1>
  <ul>
    <li>
      <a href="/user/register">Register</a>
    </li>
    <li>
      <a href="/user/login">Login</a>
    </li>
  </ul>
</body>
{{> base_footer }}