<main class="container">
  <h1>Login</h1>
  <form action="/login{{#if next_url }}?next={{ next_url }}{{/if}}" method="post">
    <fieldset>
      <label>
        Email
        <input
          type="email"
          placeholder="Enter your email"
          name="email"
          id="email"
          value="{{ form.email }}"
          aria-invalid="{{#if errors.email}}true{{/if}}"
        />
        {{#if errors.email }}{{> form/error errors.email}}{{/if}}
      </label>

      <label>
        Password
        <input
          type="password"
          placeholder="Enter your password"
          name="password"
          id="password"
          aria-invalid="{{#if errors.password}}true{{/if}}"
        />
        {{#if errors.password }}{{> form/error errors.password}}{{/if}}
      </label>
    </fieldset>

    <button type="submit">Login</button>
  </form>
</main>
