{{#if messages}}
<ul id="page-messages">
  {{#each messages}}
  <li
    class="{{ level }}"
    x-data="{ isVisible: true }"
    x-show="isVisible"
    x-init="setTimeout(() => { isVisible = false }, 5000)"
    x-transition.duration.500ms
  >
    {{ text }}
  </li>
  {{/each}}
</ul>
{{/if}}
