{{#if messages}}
<ul style="position: absolute; bottom: 0; right: 1em;" class="mb-2 mr-2">
  {{#each messages}}
  <li
    style="color: var(--pico-{{#if (eq level 'error')}}del{{else}}ins{{/if}}-color);"
    x-data="{ isVisible: true }"
    x-show="isVisible"
    x-init="setTimeout(() => { isVisible = false }, 5000)"
    x-transition.duration.500ms
  >
    {{ text }}
  </li>
  {{/each}}
</ul>
{{/if}}
