<header class="container">
  <nav x-data="{ isExpanded: false }">
    <ul>
      <li><strong>Rust + htmx</strong></li>
    </ul>
    <ul>
      {{#if signup_visible}}
      <li><a href="/register">Sign Up</a></li>
      {{/if}}
      {{#if login_visible}}
      <li><a href="/login">Log In</a></li>
      {{/if}}
      {{#if logout_visible}}
      <li><a href="/logout">Log Out</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
