<main class="container">
  <h1>Profile</h1>
  <form class="form" action="/user/profile" method="post">
    <fieldset>
      <label>
        Display Name
        <input
          type="text"
          id="display_name"
          name="display_name"
          placeholder="Enter your display name"
          value="{{ form.display_name }}"
          aria-invalid="{{#if errors.display_name}}true{{/if}}"
        />
        {{#if errors.display_name}}{{> form/error errors.display_name}}{{/if}}
      </label>
    </fieldset>

    <button type="submit">Save</button>
  </form>
</main>
